<div id="<%= dom_id pet %>">
  
  <h2>Mascota de:</h2>
  
  <%= image_tag pet.user.images[0].url, class: "col-1 myimg rounded-circle" %> <!--Para poner la foto de perfil primera-->
  <span class="display-4 mylinks ms-4"><%= pet.user.name%></span>
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= pet.race %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pet.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </p>

  <%pet.images.each do |image| %>
    <%= image_tag image, class: "col-3" %>
  <%end%>

</div>
